@namespace AXOpen.Messaging.Static
@using AXSharp.Connector;
@using Microsoft.AspNetCore.Components.Authorization
@inherits RenderableComplexComponentBase<AxoMessenger>
@implements IDisposable;


<tr class="@TableRowBackgroundColor">
    <th scope="row">@Component.GetParent()?.AttributeName</th>
    <td><span text-white class="@(IsActive ? "fw-bold" : "") @(AcknowledgedBeforeFallen ? "line-through" : "")">@Category</span></td>
    <td><span text-white class="@(IsActive ? "fw-bold" : "") @(AcknowledgedBeforeFallen ? "line-through" : "")">@MessageText</span></td>
    <td>@Risen</td>
    <td>@Fallen</td>
    <td>@Acknowledged</td>
    <td>
        <button class="btn @AckBtnBackgroundColor" type="button" @onclick="@AcknowledgeTask" hidden="@HideAckowledgeButton">
            <span class="oi oi-x" aria-hidden="true"/>
        </button>
    </td>
</tr>

  @code
  {
      private string TableRowBackgroundColor
      {
          get
          {
              string retval = "table-primary";
              if (Component.Category.Cyclic < 600)         // Upto warning level excluding
              {
                  retval = "table-info";
              }
              else if (Component.Category.Cyclic < 700)   //From warning level including, upto error level excluding
              {
                  retval = "table-warning";
              }
              else if (Component.Category.Cyclic <= 1200) //From error level including, upto catastrophic level including
              {
                  retval = "table-danger";
              }
              return retval;
          }
      }
  }

