@page "/Settings/settings"
@inject NavigationManager NavigationManager


<label>@Localizer["Choose a theme"]</label>
<select class="form-control" @bind="Theme" @bind:event="oninput">
    @foreach (var theme in supportedThemes)
    {
        <option value="@theme">@theme</option>
    }
</select>

<div class="ms-auto">
        <select class="form-control" @bind="Culture" @bind:event="oninput">
            @foreach (var culture in supportedCultures)
            {
                <option data value="@culture">@culture.NativeName</option>
            }
        </select>
    </div>
@code {
    
    private CultureInfo[] supportedCultures = new[]
    {
        new CultureInfo("en-US"),
        new CultureInfo("sk-SK"),
        new CultureInfo("es-ES")
    };

    private CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            // Prevent unnecessary navigation
            if (!Equals(CultureInfo.CurrentCulture, value) && !Equals(CultureInfo.CurrentUICulture, value))
            {
                var cultureEscaped = Uri.EscapeDataString(value.Name);
                NavigationManager.NavigateTo($"/culture?culture={cultureEscaped}", true);
            }
        }
    }

    
    [Inject]
    IHttpContextAccessor HttpContextAccessor { get; set; }

    private string defaultTheme = "Bootstrap";
    private string[] supportedThemes = new[]
    {
        "Bootstrap",
        "MTS",
        "Tropical",
        "Jupiter"
    };

    private string theme;
    public string Theme
    {
        get => theme;
        set
        {
            // Prevent initial navigation (causes error)
            if (theme == null)
            {
                theme = value;
                return;
            }

            // Prevent unnecessary navigation
            if (theme != value)
            {
                theme = value;
                NavigationManager.NavigateTo($"/theme?theme={theme}", true);
            }
        }
    }

    protected override void OnInitialized()
    {
        Theme = HttpContextAccessor.HttpContext.Request.Cookies["theme"] ?? defaultTheme;
        Culture = CultureInfo.CurrentCulture;
    }
}
