@page "/testing"
@using AXOpen.Base.Dialogs;
@using AXOpen.Data;
@using librarytemplate
@inject AuthenticationStateProvider _authenticationProvider
@inject IAlertDialogService _alertDialogService

<PageTitle>Testing</PageTitle>

<h2>Command</h2>
<RenderableContentControl Context="@Entry.Plc.AxoDataExchangeManager" Presentation="Command" />

//<CommandView>
<RenderableContentControl Context="@Entry.Plc.AxoDataFramentsExchangeManager" Presentation="Command" />
//</CommandView>

<h2>Status</h2>
//<StatusView>
<RenderableContentControl Context="@Entry.Plc.AxoDataFramentsExchangeManager" Presentation="Status" />
//</StatusView>

<h2>Custom columns</h2>
//<CustomColumns>
<DataExchangeView Vm="@_vm" Presentation="Command">
    <ColumnData HeaderName="Some data" BindingValue="SomeData" Clickable="false" />
    <ColumnData HeaderName="A number" BindingValue="SomeNumber" Clickable="false" />
    <ColumnData HeaderName="Yes/No" BindingValue="SomeBool" Clickable="false" />
</DataExchangeView>
//</CustomColumns>

<h2>Export</h2>
//<Export>
    <DataExchangeView Vm="@_vm" Presentation="Command" CanExport="true" />
//</Export>

<h2>Modal</h2>
//<Modal>
    <DataExchangeView Vm="@_vm" Presentation="Command" ModalDataView="false" />
//</Modal>

//<CustomColumnsCode>
@code {
    private DataExchangeViewModel _vm;

    protected override void OnInitialized()
    {
        _vm = new DataExchangeViewModel { Model = Entry.Plc.AxoDataFramentsExchangeManager, AlertDialogService = _alertDialogService, AuthenticationProvider = _authenticationProvider };
    }
}
//</CustomColumnsCode>
