@if (ToastService.GetToasts() != null)
{
    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 100;">
        @foreach (Toast toast in ToastService.GetToasts())
        {
            var bg = "";
            var icon = "";
            switch (toast.Type)
            {
                case "Info":
                    bg = "";
                    icon = "oi oi-info";
                    break;
                case "Success":
                    bg = "bg-primary";
                    icon = "oi-circle-check";
                    break;
                case "Warning":
                    bg = "bg-warning";
                    icon = "oi oi-warning";
                    break;
            }

            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header @bg">
                    <span class="@icon" aria-hidden="true"></span>
                    <strong class="me-auto">@toast.Title</strong>
                    <small>@($"{-(toast.Posted - DateTimeOffset.Now).Seconds} secs ago")</small>
                    <button type="button" class="btn-close" @onclick="() => this.ClearToast(toast)"></button>
                </div>
                <div class="toast-body">
                    @toast.Message
                </div>
            </div>
        }
    </div>
}

<button class="btn btn-primary" @onclick="AddToast">Add a Toast</button>

<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
    Toggle static offcanvas
</button>

<div class="offcanvas offcanvas-bottom" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel" style="height: 20vh">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Do you want close this offcanvas?
        </div>
        <div class="ms-5">
            <button type="button" class="btn btn-primary px-5" data-bs-dismiss="offcanvas">Yes</button>
            <button type="button" class="btn btn-danger px-5">No</button>
        </div>
    </div>
</div>

@code {
    [Inject]
    private ToastService ToastService { get; set; }

    private void AddToast()
    {
        ToastService.AddToast("Warning", "Hello World", "Hello from Blazor", 30);
    }
}