@namespace ix.framework.core
@using Ix.Connector.ValueTypes;
@using Ix.Connector;
@inherits RenderableComplexComponentBase<IxStep>
@implements IDisposable;

<div class="container text-left">
    <div class="row @RowClass">
        <div class="col">
            @*Left here for the future, just to store the idea that each step could be displayed as an IxTask *@
@*            @if (IsControllable)
            {
                <IxTaskCommandView Component="@Component" Description="@Description" />
            }
            else
            {
                <IxTaskStatusView Component="@Component" Description="@Description" HideRestoreButton="true" />
            }*@
            @Description
        </div>
        <div class="col">
            @Component.Order.Cyclic
        </div>
        <div class="col">
            @Component.IsActive.Cyclic
        </div>
    </div>
</div>

