@page "/DialogExamplesControl_1"
@using axopencore
@using AXOpen.Core
@using AXOpen.Core.Blazor.AxoDialogs

<h3>AxoDailogs Control</h3>

<RenderableContentControl Context="@Entry.Plc.D_111._invokeRestoreAll" Presentation="Control"/>
<RenderableContentControl Context="@Entry.Plc.D_111._invokeCallAll" Presentation="Control" />
<RenderableContentControl Context="@Entry.Plc.D_111._invokeSequnceAll" Presentation="Control" />

<div style="display: flex; justify-content: space-around;">
    <div>
        <h3>--------------- AA ------------</h3>
        <RenderableContentControl Context="@Entry.Plc.D_111.AA" Presentation="Control" />
    </div>
    <div>
        <h3>--------------- BB ------------</h3>
        <RenderableContentControl Context="@Entry.Plc.D_111.BB" Presentation="Control" />
    </div>
    <div>
        <h3>--------------- CC ------------</h3>
        <RenderableContentControl Context="@Entry.Plc.D_111.CC" Presentation="Control" />
    </div>
    <div>
        <h3>--------------- DD ------------</h3>
        <RenderableContentControl Context="@Entry.Plc.D_111.DD" Presentation="Control" />
    </div>
</div>
