@namespace ix.framework.core
@inherits RenderableComplexComponentBase<IxSequencer>

<div class="container-lg">
    <div class="row">
        <div class="col">
            @if (IsControllable)
            {
                <ix.framework.core.IxTaskCommandSlimView Component="@Component" />
            }
            else
            {
                <ix.framework.core.IxTaskStatusSlimView Component="@Component" />
            }
        </div>
    </div>
    <div class="row">
        <div class="col">
            <RenderableContentControl Context="@Component.SequenceMode" Presentation="@(IsControllable ? "Control" : "Display")" /> 
        </div>
        <div class="col">
            <RenderableContentControl Context="@Component.SteppingMode" Presentation="@(IsControllable ? "Control" : "Display")" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <RenderableContentControl Context="@Component.StepBackwardCommand" Presentation="@(IsControllable ? "CommandSlim" : "StatusSlim")" />
        </div>
        <div class="col">
            <RenderableContentControl Context="@Component.StepIn" Presentation="@(IsControllable ? "CommandSlim" : "StatusSlim")" />
        </div>
        <div class="col">
            <RenderableContentControl Context="@Component.StepForwardCommand" Presentation="@(IsControllable ? "CommandSlim" : "StatusSlim")" />
        </div>
    </div>
</div>


