<div class="top-row px-2">
    <a href="">
        <img src="logo-no-background.svg" width="25" />
    </a>




    <div class="ms-auto">

        <RenderableContentControl Context="@Entry.Plc.Context.GlobalGround" Presentation="Command"></RenderableContentControl>

    </div>  <div class="ms-auto">

        <RenderableContentControl Context="@Entry.Plc.Context.GlobalAuto" Presentation="Command"></RenderableContentControl>

    </div>  <div class="ms-auto">

        <RenderableContentControl Context="@Entry.Plc.Context.GlobalService" Presentation="Command"></RenderableContentControl>
    </div>


    <div class="ms-auto">
        <IAmHereIndicator />
    </div>
    <div class="ms-auto">
        <AxOpen.Security.Views.LoginDisplay />
    </div>

    @* <ul class="list-group">
        <li class="list-group-item"> <RenderableContentControl Context="@Entry.Plc.Context.TaskInst_1" Presentation="Command"></RenderableContentControl> </li>
        <li class="list-group-item"> <RenderableContentControl Context="@Entry.Plc.Context.TaskInst_2" Presentation="Command"></RenderableContentControl> </li>
        <li class="list-group-item"> <RenderableContentControl Context="@Entry.Plc.Context.TaskInst_3" Presentation="Command"></RenderableContentControl> </li>
        <li class="list-group-item"> <RenderableContentControl Context="@Entry.Plc.Context.TaskInst_4" Presentation="Command"></RenderableContentControl> </li>
        <li class="list-group-item"> <RenderableContentControl Context="@Entry.Plc.Context.TaskInst_5" Presentation="Command"></RenderableContentControl> </li>
        <li class="list-group-item"> <RenderableContentControl Context="@Entry.Plc.Context.TaskInst_6" Presentation="Command"></RenderableContentControl> </li>
        <li class="list-group-item"> <RenderableContentControl Context="@Entry.Plc.Context.TaskInst_7" Presentation="Command"></RenderableContentControl> </li>
        <li class="list-group-item"> <RenderableContentControl Context="@Entry.Plc.Context.TaskInst_8" Presentation="Command"></RenderableContentControl> </li>
        <li class="list-group-item"> <RenderableContentControl Context="@Entry.Plc.Context.TaskInst_9" Presentation="Command"></RenderableContentControl> </li>  
        <li class="list-group-item"> <RenderableContentControl Context="@Entry.Plc.Context.TaskInst_11" Presentation="Command"></RenderableContentControl> </li>
        <li class="list-group-item"> <RenderableContentControl Context="@Entry.Plc.Context.TaskInst_12" Presentation="Command"></RenderableContentControl> </li>
        <li class="list-group-item"> <RenderableContentControl Context="@Entry.Plc.Context.TaskInst_13" Presentation="Command"></RenderableContentControl> </li>
        <li class="list-group-item"> <RenderableContentControl Context="@Entry.Plc.Context.TaskInst_14" Presentation="Command"></RenderableContentControl> </li>
        <li class="list-group-item"> <RenderableContentControl Context="@Entry.Plc.Context.TaskInst_15" Presentation="Command"></RenderableContentControl> </li>
        <li class="list-group-item"> <RenderableContentControl Context="@Entry.Plc.Context.TaskInst_16" Presentation="Command"></RenderableContentControl> </li>
        <li class="list-group-item"> <RenderableContentControl Context="@Entry.Plc.Context.TaskInst_17" Presentation="Command"></RenderableContentControl> </li>
        <li class="list-group-item"> <RenderableContentControl Context="@Entry.Plc.Context.TaskInst_18" Presentation="Command"></RenderableContentControl> </li>
        <li class="list-group-item"> <RenderableContentControl Context="@Entry.Plc.Context.TaskInst_19" Presentation="Command"></RenderableContentControl> </li>
       
       
    </ul> *@


</div>