@namespace ix.framework.core
@inherits RenderableComplexComponentBase<Sequencer>

<div class="container-lg">
    <div class="row">
        <div class="col">
            <ix.framework.core.CommandTaskView Component="@Component" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <RenderableContentControl Presentation="Control"
                                      Context="@Component.SequenceMode" />
        </div>
        <div class="col">
            <RenderableContentControl Presentation="Control"
                                      Context="@Component.SteppingMode" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <RenderableContentControl Presentation="Base"
            Context="@Component.StepBackwardCommand" />
        </div>
        <div class="col">
            <RenderableContentControl Presentation="Base"
                                      Context="@Component.StepIn" />
        </div>
        <div class="col">
            <RenderableContentControl Presentation="Base"
                                      Context="@Component.StepForwardCommand" />
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        UpdateValuesOnChange(Component);
    }
}
