@namespace AXOpen.Inspectors



<div class="row">
    @if (Presentation != "ShadowControl")
    {
        <div class="col-md me-2">

        @if(Presentation == "ShadowDisplay")
        {
            <RenderableContentControl Context="@Data.Result" Presentation="ShadowDisplay" />
            <RenderableContentControl Context="@Data.Timestamp" Presentation="ShadowDisplay" />
        }
        else
        {
            <RenderableContentControl Context="@Data.Result" Presentation="Display" />
            <RenderableContentControl Context="@Data.Timestamp" Presentation="Display" />
        }

    </div>
    }
    <div class="col-md mx-2">
     
        <RenderableContentControl Context="@Data.FailTime" Presentation="@Presentation" />
        <RenderableContentControl Context="@Data.PassTime" Presentation="@Presentation" />
    </div>
    <div class="col-md ms-2">
        <RenderableContentControl Context="@Data.NumberOfAllowedRetries" Presentation="@Presentation" />
        @if (Presentation != "ShadowControl")
        {
            @if (Presentation == "ShadowDisplay")
            {
                <RenderableContentControl Context="@Data.RetryAttemptsCount" Presentation="ShadowDisplay" />
            }
            else
            {
                <RenderableContentControl Context="@Data.RetryAttemptsCount" Presentation="Display" />
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public AxoInspectorData Data { get; set; }
    [Parameter]
    public string Presentation { get; set; }
}