@page "/ui/InStationData"
@using AXSharp.Connector
@using AXOpen.Data;
@*
<div class="card-header">
    <button type="button" class="btn btn-primary" @onclick="async () => {GC.Collect();} ">G.Collect</button>
</div>
 *@

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading_1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_1" aria-expanded="false" aria-controls="collapse_1">
                Data CU_1
            </button>
        </h2>
        <div id="collapse_1" class="accordion-collapse collapse" aria-labelledby="heading_1" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <StructureWithRefresh TwinObject="@Entry.Plc.Context.ProcessDataCu_1">
                </StructureWithRefresh>
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header" id="heading_2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_2" aria-expanded="false" aria-controls="collapse_2">
                Data CU_2
            </button>
        </h2>
        <div id="collapse_2" class="accordion-collapse collapse" aria-labelledby="heading_2" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <StructureWithRefresh TwinObject="@Entry.Plc.Context.ProcessDataCu_2">
                </StructureWithRefresh>
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header" id="heading_3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_3" aria-expanded="false" aria-controls="collapse_3">
                Data CU_3
            </button>
        </h2>
        <div id="collapse_3" class="accordion-collapse collapse" aria-labelledby="heading_3" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <StructureWithRefresh TwinObject="@Entry.Plc.Context.ProcessDataCu_3">
                </StructureWithRefresh>
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header" id="heading_4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
                Data CU_4
            </button>
        </h2>
        <div id="collapse_4" class="accordion-collapse collapse" aria-labelledby="heading_4" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <StructureWithRefresh TwinObject="@Entry.Plc.Context.ProcessDataCu_4">
                </StructureWithRefresh>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading_5">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_5" aria-expanded="false" aria-controls="collapse_5">
                Data CU_5
            </button>
        </h2>
        <div id="collapse_5" class="accordion-collapse collapse" aria-labelledby="heading_5" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <StructureWithRefresh TwinObject="@Entry.Plc.Context.ProcessDataCu_5">
                </StructureWithRefresh>
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header" id="heading_6">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_6" aria-expanded="false" aria-controls="collapse_6">
                Data CU_6
            </button>
        </h2>
        <div id="collapse_6" class="accordion-collapse collapse" aria-labelledby="heading_6" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <StructureWithRefresh TwinObject="@Entry.Plc.Context.ProcessDataCu_6">
                </StructureWithRefresh>
            </div>
        </div>
    </div>



    <div class="accordion-item">
        <h2 class="accordion-header" id="heading_7">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_7" aria-expanded="false" aria-controls="collapse_7">
                Data CU_7
            </button>
        </h2>
        <div id="collapse_7" class="accordion-collapse collapse" aria-labelledby="heading_7" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <StructureWithRefresh TwinObject="@Entry.Plc.Context.ProcessDataCu_7">
                </StructureWithRefresh>
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header" id="heading_8">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_8" aria-expanded="false" aria-controls="collapse_8">
                Data CU_8
            </button>
        </h2>
        <div id="collapse_8" class="accordion-collapse collapse" aria-labelledby="heading_8" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <StructureWithRefresh TwinObject="@Entry.Plc.Context.ProcessDataCu_8">
                </StructureWithRefresh>
            </div>
        </div>
    </div>

</div>

