@page "/AxoCognexVisionDatamanExample"
@using axopen_integrations
@using AXOpen.Core;
@using AXOpen.Cognex.Vision.v_6_0_0_0;

<h3>AxoCognexVisionDatamanExample</h3>

<div class="container">
    <div class="h4 pb-2 mb-4 text-primary border-bottom border-primary">
        AxoCognexVisionDataman
    </div>
    <div class="container text-left">
        <div class="row">
            <div class="col">
                <RenderableContentControl Context="@Entry.Plc.AxoCognexVisionDatamanExampleContext.ActivateManualControl" Presentation="Control" />
            </div>
            <div class="col">
                <RenderableContentControl Context="@Entry.Plc.AxoCognexVisionDatamanExampleContext.MyDataman._isManuallyControllable" Presentation="Display" />
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                ActionDescription:
                <p class="demo-text cw-320 mt-2">
                    Text: <b>@TextValue</b>
                </p>

                @code {
                    string TextValue = @Entry.Plc.AxoCognexVisionDatamanExampleContext.MyDataman.Status.ActionDescription.ToString();
                }
                @Entry.Plc.AxoCognexVisionDatamanExampleContext.MyDataman.Status.ActionDescription
            </div>
            <div class="col">
                ErrorDescription:
                @Entry.Plc.AxoCognexVisionDatamanExampleContext.MyDataman.Status.ErrorDescription
            </div>
        </div>


        <div class="col">
            <RenderableContentControl Context="@Entry.Plc.AxoCognexVisionDatamanExampleContext.MyDataman" Presentation="Command" />
        </div>
    </div>
</div>

