@page "/IxCore"
@using intergrations
@using ix.framework.core;
<h3>ix_core</h3>


<div class="container">
    <div class="h4 pb-2 mb-4 text-primary border-bottom border-primary">
        Simple IxComponent example
    </div>
    <div class="container text-left">
        <div class="col">
            <RenderableContentControl Context="@Entry.Plc.myComponentExamples.ServiceMode" Presentation="Control" />
            <RenderableContentControl Context="@Entry.Plc.myComponentExamples.MyComponent._isinServiceMode" Presentation="Control" />
        </div>
        <div class="col">
           <IxComponentView Component="@Entry.Plc.myComponentExamples.MyComponent" Presentation="Display" />
        </div>
    </div>
    
    <div class="h4 pb-2 mb-4 text-primary border-bottom border-primary">
        Simple Command Task Button.
    </div>
    <div class="container text-left">
        <div class="row">
            <div class="col">
                <div class="row">
                    <RenderableContentControl Context="@Entry.Plc.ixcoreTasks"  />
                </div>
                <div class="row">
                    <RenderableContentControl Context="@Entry.Plc.ixcoreTasks" Presentation="Display" />
                </div>
            </div>
            <div class="col">
                    <RenderableContentControl Context="@Entry.Plc.ixcoreTasks" Presentation="Control" />
            </div>
        </div>
    </div>

    <div class="h4 pb-2 mb-4 text-primary border-bottom border-primary">
        Sequencer with few steps
        <br />
        <RenderableContentControl Presentation="Control"
                                  Context="@Entry.Plc.ixcoreSequencers.Counter" />
    </div>
    <div class="container text-left">
        <div class="col">
            <RenderableContentControl Presentation="Base"
                                      Context="@Entry.Plc.ixcoreSequencers"  />
        </div>
    </div>
</div>
