@page "/IxCoreComponent"
@using intergrations
@using ix.framework.core;
<h3>IxCoreComponent</h3>

<div class="container">
    <div class="h4 pb-2 mb-4 text-primary border-bottom border-primary">
        Simple IxComponent example
    </div>
    <div class="container text-left">
        <div class="row">
        <div class="col">
            <RenderableContentControl Context="@Entry.Plc.myComponentExamples.ServiceMode" Presentation="Control" />
        </div>
        <div class="col">
            <RenderableContentControl Context="@Entry.Plc.myComponentExamples.MyComponent._isinServiceMode" Presentation="Display" />
        </div>
        </div>
        <div class="col">
            <label>RenderableContentControl Context="@Entry.Plc.myComponentExamples.MyComponent" Presentation="Status"</label>
            <RenderableContentControl Context="@Entry.Plc.myComponentExamples.MyComponent" Presentation="Status" />
            <label>RenderableContentControl Context="@Entry.Plc.myComponentExamples.MyComponent" Presentation="Command"</label>
            <RenderableContentControl Context="@Entry.Plc.myComponentExamples.MyComponent" Presentation="Command" />
            <label>IxComponentCommandView Component="@Entry.Plc.myComponentExamples.MyComponent" </label>
            <IxComponentCommandView Component="@Entry.Plc.myComponentExamples.MyComponent" />
            <label>IxComponentStatusView Component="@Entry.Plc.myComponentExamples.MyComponent"</label>
            <IxComponentStatusView Component="@Entry.Plc.myComponentExamples.MyComponent" />
        </div>
    </div>
   
</div>
