@inject BlazorAuthenticationStateProvider _basp
@inject NavigationManager _nm
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="new[] { typeof(AxOpen.Security.BlazorSecurity).Assembly }">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {

    protected override void OnAfterRender(bool firstRender)
    {
        //_model = new LoginUserModel();
        _basp.OnDeAuthenticated += LogoutTimerExpired;

    }

    void LogoutTimerExpired(string name)
    {
        _nm.NavigateTo("", forceLoad: true);
    }

}