@page "/Component_1"
@using AXOpen.Core;

<button class="btn btn-outline-primary" @onclick="WriteTaskTimesToConsole">Write times to console</button>

@code
{
    #region WriteTaskDurationToConsole
    private async Task WriteTaskTimesToConsole()
    {
        await Entry.Plc.documentation.componentOne.AxoIndraDrive_.WriteTaskDurationToConsole();
    }
    #endregion

    #region PartialExtensionExample
    // No partial extension example available
    #endregion

}

<RenderableContentControl Context="@Entry.Plc.documentation.componentOne" Presentation="Command-Control" />
@* 
<!-- <GenericComponentStatusView> -->
 <AxoComponentStatusView Component="@Entry.Plc.documentation.componentOne.AxoIndraDrive_" /> 
<!-- </GenericComponentStatusView> -->

<!-- <GenericComponentCommandView> -->
 <AxoComponentCommandView Component="@Entry.Plc.documentation.componentOne.AxoIndraDrive_" />
<!-- </GenericComponentCommandView> -->

<!-- <RccComponentStatusView> -->
 <RenderableContentControl Context="@Entry.Plc.documentation.componentOne.AxoIndraDrive_" Presentation="Status-Display" />
<!-- </RccComponentStatusView> -->


<!-- <RccComponentCommandView> -->
<RenderableContentControl Context="@Entry.Plc.documentation.componentOne.AxoIndraDrive_" Presentation="Command-Control" />
<!-- </RccComponentCommandView> -->

 *@

