@namespace AXOpen.Core
@using AXSharp.Connector.ValueTypes
@using AXSharp.Connector;
@using AXSharp.Presentation.Blazor.Controls.Layouts.TabControlComponents;
@inherits RenderableComplexComponentBase<AxoComponent>;

<div class="card">
    <div class="card-header d-flex">
        <div class="p-0 w-100"><h5>@Component.AttributeName</h5></div>
        <div class="p-0 flex-shrink-1">
            @if (containsDetailsAttribute)
            {
                <button class="btn btn-primary" type="button" @onclick="Collapse">
                    <span class="oi oi-chevron-top @(isCollapsed ? "open" : "")" aria-hidden="true"/>
                </button>
            }
        </div>
    </div>
   
    <div class="card-body">
        @if (@Component._isManuallyControllable.Cyclic)
        {
            <RenderableContentControl Presentation="Command-Control" Context="@Header"
                                      Class="bg-light rounded-3 shadow"
                                      LayoutClass="align-items-end"/>
        }
        else
        {
            <RenderableContentControl Presentation="Status-Display"
                                      Context="@Header"
                                      Class="bg-light rounded-3 shadow"
                                      LayoutClass="align-items-end"/>
        }
    </div>

    @if (containsDetailsAttribute)
    {
        <div class="@(isCollapsed ? "collapse" : null)">
            <div class="card card-body">
                <TabControl>
                    @foreach (var detailsTab in DetailsTabs)
                    {
                        <TabPage Text="@detailsTab.HumanReadable">
                            <RenderableContentControl 
                                Context=@detailsTab
                                Presentation="@currentPresentation"
                                Class="bg-light rounded-3 shadow"
                                LayoutClass="align-items-end" 
                                LayoutChildrenClass="ms-0"/>
                        </TabPage>
                    }
                </TabControl>
            </div>
        </div>
    }
</div>
