<div class="accordion-item">
    <div class="accordion-header">
        <button class="accordion-button collapsed py-2" type="button" data-bs-toggle="collapse" data-bs-target="#@BasePath" aria-expanded="false" aria-controls="@BasePath">
            @BasePath
        </button>
    </div>
    <div id="@BasePath" class="accordion-collapse collapse">
        <div class="accordion-body">
            <ul class="list-group">
                @foreach (var item in VisualComposerContainer.BuildHierarchy(AccordionContent, Level + 1))
                {
                    @if (item.Count == 1)
                    {
                        <li class="list-group-item d-flex">
                            <p>@item.First().Id</p>
                            <button type="button" class="btn btn-primary ms-auto" @onclick="() => Parent.AddChild(item.First())"><span class="bi bi-plus-lg" /></button>
                        </li>
                    }
                    else
                    {
                        <AccordionComponent AccordionContent="item" Level="Level + 1" BasePath="@(BasePath + '_' + item.First().Id.Split('.')[Level + 1])" Parent="@Parent" />
                    }
                }
            </ul>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public List<VisualComposerItem> AccordionContent { get; set; }

    [Parameter]
    public int Level { get; set; }

    [Parameter]
    public string BasePath { get; set; }

    [Parameter]
    public VisualComposerContainer Parent { get; set; }
}