@using AXSharp.Connector;
@using Microsoft.AspNetCore.Components.Forms;

<div class="container">
<div class="row">
    <AuthorizeView Roles="Administrator">
       
        <Authorized>
                <a class="text-decoration-none text-black" style="cursor: pointer;" @onclick="ToggleInDesignMode"><span class="bi bi-tools fs-5" aria-hidden="true" title="Design mode" /></a>
                @if (InDesignMode)
                {
                    <div class="d-flex justify-content-end my-2">
                        <div style="z-index: 100;">
                            <select class="form-select w-auto" @onchange="(ChangeEventArgs args) => Load(args.Value.ToString())">
                                @foreach (var item in GetAllFiles())
                                {
                                    <option value="@item" selected="@(CurrentTemplate is null || CurrentTemplate == "" ? item == "Default" ? "selected" : null : item == CurrentTemplate ? "selected" : null)">@item</option>
                                }
                            </select>
                        </div>

                        <div class="dropdown ms-4" style="z-index: 100;">
                            <a class="dropdown-toggle text-decoration-none text-black" style="cursor: pointer;" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="bi bi-pencil-square fs-4" aria-hidden="true" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#showAllModal-@Id.ModalIdHelper()">Controller objects</a></li>
                                <li><a class="dropdown-item" @onclick="() => Save()">Save</a></li>
                                <li><a class="dropdown-item" @onclick='() => Save("Default")'>Save as default</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#saveAsModal-@Id.ModalIdHelper()">Save as</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#templatesModal-@Id.ModalIdHelper()">Templates</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#setImageModal-@Id.ModalIdHelper()">Set image</a></li>
                                <li><a class="dropdown-item" @onclick="() => ChangeTheme()">Change theme</a></li>
                            </ul>
                        </div>
                    </div>
                }
                <ZoomableContainer Parent="this">
                    <div onmousedown="event.preventDefault();">
                        @if (_imgId != null)
                        {
                            <img id="@_imgId" src="@ImgSrc" style="width: 100%; height: 100%; object-fit: cover;" />
                        }

                        <CascadingValue Value="@this" Name="Parent" IsFixed="true">
                            <CascadingValue Value="@_imgId" Name="ImgId" IsFixed="true">
                                @foreach (VisualComposerItem child in _children)
                                {
                                    <VisualComposerItem InDesign="@InDesignMode" Origin="@child" />
                                }
                            </CascadingValue>
                        </CascadingValue>
                    </div>
                </ZoomableContainer>

                    <EmptyContainer>
                        <CascadingValue Value="@this" Name="Parent" IsFixed="true">
                            <CascadingValue Value="@_imgId" Name="ImgId" IsFixed="true">
                                @foreach (VisualComposerItem child in _children)
                                {
                                    <VisualComposerItemModal Origin="@child"/>
                                }
                            </CascadingValue>
                        </CascadingValue>
                    </EmptyContainer>
                     @* <button class="btn btn-outline-primary m-2" @onclick="ToggleInDesignMode">Toggle design mode</button>  *@
                @if (InDesignMode)
                {
                    <div class="modal fade" id="showAllModal-@Id.ModalIdHelper()" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="alarmsviewTitle">All components</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body justify-content-center">
                                    <div class="row mb-2">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Search" @bind="SearchValue">
                                        </div>
                                        <button type="button" class="btn btn-primary col-sm me-3" @onclick="() => Search()">Search</button>
                                    </div>

                                    @if (SearchValue is null || SearchResult is null)
                                    {
                                        <div class="accordion" id="accordionExample">
                                            @foreach (var item in Objects)
                                            {
                                                <AccordionComponent SourceTwinElement="@item" Parent="@this" />
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="list-group">
                                            @foreach (var item in SearchResult)
                                            {
                                                <li class="list-group-item d-flex">
                                                    @switch (item)
                                                    {
                                                        case ITwinObject obj:
                                                            <i class="bi bi-boxes m-2"></i>
                                                            break;
                                                        case ITwinPrimitive prim:
                                                            <i class="bi bi-card-text mr-2"></i>
                                                            break;
                                                    }

                                                    <p class="mb-0">@item.Symbol</p>
                                                    <a class="ms-auto text-decoration-none text-black" style="cursor: pointer;" @onclick="() => AddChildren(item)"><span class="bi bi-plus-lg" aria-hidden="true" /></a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    @* <div class="modal fade" id="showAllPrimitivesModal-@Id.ModalIdHelper()" tabindex="-1" aria-hidden="true"> *@
                    @*     <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable"> *@
                    @*         <div class="modal-content"> *@
                    @*             <div class="modal-header"> *@
                    @*                 <h1 class="modal-title fs-5" id="alarmsviewTitle">All primitives</h1> *@
                    @*                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
                    @*             </div> *@
                    @*             <div class="modal-body justify-content-center"> *@
                    @*                 <div class="row mb-2"> *@
                    @*                     <div class="col-sm-10"> *@
                    @*                         <input type="text" class="form-control" placeholder="Search" @bind="SearchValuePrimitive"> *@
                    @*                     </div> *@
                    @*                     <button type="button" class="btn btn-primary col-sm me-3" @onclick="() => SearchPrimitive()">Search</button> *@
                    @*                 </div> *@
                    @* *@
                    @*                 @if (SearchValuePrimitive is null || SearchResultPrimitive is null) *@
                    @*                 { *@
                    @*                     <ul class="list-group"> *@
                    @*                         @foreach (var item in Objects.SelectMany(p => p.RetrievePrimitives())) *@
                    @*                         { *@
                    @*                             <li class="list-group-item d-flex"> *@
                    @*                                 <p class="mb-0">@item.Symbol</p> *@
                    @*                                 <a class="ms-auto text-decoration-none text-black" style="cursor: pointer;" @onclick="() => AddChildren(item)"><span class="bi bi-plus-lg" aria-hidden="true"/></a> *@
                    @*                             </li> *@
                    @*                         } *@
                    @*                     </ul> *@
                    @*                 } *@
                    @*                 else *@
                    @*                 { *@
                    @*                     <ul class="list-group"> *@
                    @*                         @foreach (var item in SearchResultPrimitive) *@
                    @*                         { *@
                    @*                             <li class="list-group-item d-flex"> *@
                    @*                                 <p class="mb-0">@item.Symbol</p> *@
                    @*                                 <a class="ms-auto text-decoration-none text-black" style="cursor: pointer;" @onclick="() => AddChildren(item)"><span class="bi bi-plus-lg" aria-hidden="true"/></a> *@
                    @*                             </li> *@
                    @*                         } *@
                    @*                     </ul> *@
                    @*                 } *@
                    @*             </div> *@
                    @*         </div> *@
                    @*     </div> *@
                    @* </div> *@

                    <div class="modal fade" id="saveAsModal-@Id.ModalIdHelper()" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="alarmsviewTitle">Save as</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body justify-content-center">
                                    <div class="row">
                                        <label class="col-sm-2 col-form-label">File name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="File name" @bind="FileName">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="() => Save(FileName)">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="templatesModal-@Id.ModalIdHelper()" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="alarmsviewTitle">Templates</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body justify-content-center">
                                    <ul class="list-group">
                                        @foreach (var item in GetAllVisualComposerContainer())
                                        {
                                            <li class="list-group-item d-flex">
                                                <p class="mb-0">@item.file</p>
                                                <a class="ms-auto text-decoration-none text-black" style="cursor: pointer;" @onclick="() => ClearScaleAndTranslate(item.file)"><span class="bi bi-arrow-clockwise fs-5" aria-hidden="true" title="Clear"/></a>
                                                <a class="ms-2 text-decoration-none text-black" style="cursor: pointer;" @onclick="() => Remove(item.file)"><span class="bi bi-trash fs-5" aria-hidden="true" title="Remove" /></a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="setImageModal-@Id.ModalIdHelper()" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="alarmsviewTitle">Set background image</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body justify-content-center">
                                    <label for="inputFile" class="form-label">Upload image</label>
                                    <InputFile class="form-control col-10" id="inputFile" accept=".png, .jpg, .jpeg, .svg" OnChange="@UploadFile" />
                                </div>
                                <div class="modal-footer">
                                    @if (!isFileImported && isFileImporting)
                                    {
                                        <div class="spinner-border" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    }
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </Authorized>
            <NotAuthorized>
                <ZoomableContainer>
                    <div style="position: relative; width: 100%; height: 100%;">
                        <img id="@_imgId" src="@ImgSrc" style="width: 100%; height: 100%; object-fit: cover;" />
                        <CascadingValue Value="@this" Name="Parent" IsFixed="true">
                            <CascadingValue Value="@_imgId" Name="ImgId" IsFixed="true">
                                @foreach (VisualComposerItem child in _children)
                                {
                                    <VisualComposerItem Origin="@child" />
                                }
                            </CascadingValue>
                        </CascadingValue>
                    </div>
                </ZoomableContainer>
            </NotAuthorized>
        </AuthorizeView>

    </div>
    <span class="@DetailsVisibility m-4">
        <div class="card overflow-auto" style="height: 500px;">
            <div class="card-header">
                <div class="container-fluid m-0 p-0">
                    <div class="row">
                        <div class="col-auto">
                             <button class="btn btn-close" @onclick="ToggleDetailsVisibility"></button>
                        </div>
                        <div class="col">
                            <AuthorizeView Roles="Administrator">
                                <Authorized>
                                    <div class="input-group mb-3">
                                        <button type="button" class="btn btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" @onmouseleave="@SetCommandPresentationType">Command</a></li>
                                            <li><a class="dropdown-item" @onmouseleave="@SetStatusPresentationType">Status</a></li>
                                            <li><a class="dropdown-item" @onmouseleave="@SetControlPresentationType">Control</a></li>
                                            <li><a class="dropdown-item" @onmouseleave="@SetDisplayPresentationType">Display</a></li>
                                        </ul>
                                        <input type="text" class="form-control" @bind="@DetailsPresentationType" aria-label="Text input with segmented dropdown button">
                                    </div>
                                </Authorized>
                                <NotAuthorized>
                                    
                                </NotAuthorized>
                            </AuthorizeView>
                        </div>

                    </div>
                </div>
                @* <div class="m-3"> *@
                @*     <button class="btn btn-close" @onclick="ToggleDetailsVisibility"></button> *@
                @*     <button class="btn btn-primary" @onclick="SetCommandPresentationType">Command</button> *@
                @*     <button class="btn btn-primary" @onclick="SetControlPresentationType">Control</button> *@
                @*     <button class="btn btn-primary" @onclick="SetStatusPresentationType">Status</button> *@
                @*     <button class="btn btn-primary" @onclick="SetDisplayPresentationType">Display</button> *@
                @*     <input type="text" class="form-control" placeholder="Presentation" @bind="DetailsPresentationType"> *@
                @* </div> *@
            </div>
          <div class="card-body" style="height: 250px;">
              <p class="card-deck overflow-auto">
                  <RenderableContentControl @ref="detailsRcc" Context="@DetailsObject" Presentation="Command-Control"></RenderableContentControl>
              </p>
          </div>
        </div>
    </span >
</div>
@code
{
    private string detailsPresentationType;

    private void SetCommandPresentationType()
    {
        DetailsPresentationType = "Command";
    }

    private void SetControlPresentationType()
    {
        DetailsPresentationType = "Control";
    }

    private void SetStatusPresentationType()
    {
        DetailsPresentationType = "Status";
    }

    private void SetDisplayPresentationType()
    {
        DetailsPresentationType = "Display";
    }

    private RenderableContentControl detailsRcc { get; set; }

    private const string VISUALLY_HIDDEN = "visually-hidden";
    private string DetailsVisibility { get; set; } = VISUALLY_HIDDEN;

    public string DetailsPresentationType
    {
        get => detailsPresentationType;
        set
        {
            detailsPresentationType = value;
            detailsRcc.Presentation = value;
            this.StateHasChanged();
        }
    }

    private void ToggleDetailsVisibility()
    {
        this.DetailsVisibility = this.DetailsVisibility == VISUALLY_HIDDEN ? string.Empty : VISUALLY_HIDDEN;
        if (DetailsVisibility == string.Empty)
        {
            detailsRcc.Presentation = "empty";
            detailsRcc.ForceRender();
            System.GC.Collect();
        }
        this.StateHasChanged();
    }

    public void UpdateDetails(ITwinElement element)
    {
        if (detailsRcc != null)
        {
            DetailsVisibility = string.Empty;
            this.StateHasChanged();
            detailsRcc.Context = element;
            detailsRcc?.ForceRender();
        }
    }

    private void ToggleInDesignMode()
    {
        InDesignMode = !InDesignMode;
        ReDragElement();
    }

    private bool InDesignMode { get; set; }
}
